header {
    padding: 20px 20px 20px 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #303538;
    color: whitesmoke;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color:#303538;
    background-color: rgb(122, 188, 210);
    padding-left: 25px;
}

nav {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

header ul {
    list-style-type:none;
}

header ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: rgb(122, 188, 210);
    text-decoration: none;
    text-decoration-line: underline;
    text-underline-position: auto;
}

.hero-image {
    height: 180px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/building.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero-text {
    text-align: right;
    font-size: x-large;
    position: absolute;
    bottom: 10px;
    right: 50px;
    background-color: rgb(122, 188, 210);
    padding: 10px 10px 10px 10px;
    font-family: 'Trebuchet MS', sans-serif;
    color:#303538;
    display: inline;
}

.aboutme, .work, .contactme {
    color:#303538;
    font-family:'Trebuchet MS', sans-serif;
}

p {
    color:#303538;
    font-family: 'Trebuchet MS', sans-serif;
}
