header {
    padding: 20px 20px 20px 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #303538;
    color: whitesmoke;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color:#303538;
    background-color: rgb(122, 188, 210);
    padding-left: 25px;
    padding-right: 5px;
}

nav {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

header ul {
    list-style-type:none;
}

header ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: rgb(122, 188, 210);
    text-decoration: none;
    text-decoration-line: underline;
    text-underline-position: auto;
}

.hero-image {
    height: 190px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/building.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero-text {
    text-align: right;
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    right: 50px;
    background-color: rgb(122, 188, 210);
    padding: 10px 10px 10px 10px;
    font-family: 'Trebuchet MS', sans-serif;
    color:#303538;
    display: inline;
}

.aboutme, .work, .contactme {
    color:#303538;
    font-family:'Trebuchet MS', sans-serif;
    font-size: 32px;
    display: flex;
}

.aboutme{
    text-align: left;
}

.work, .contactme {
    text-align: center;
}

aside {
    flex-basis: 20%;
    border-right: 5px solid #303538;
    margin: 20px 30px 30px 30px;
}
article { 
    flex-basis: 80%;
}

article:hover{
    background-color: rgb(209, 214, 215);
}

.project1-image:hover, .project2-image:hover, .project3-image:hover, .project4-image:hover, .project5-image:hover {
    -webkit-filter: brightness(80%);
}
p {
    color:#303538;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-left: 5%;
}

#title{
    text-align: right;
    padding-right: 68px;
}

.project1-image {
    background-image: url(../images/nyc\ building.png);
    height: 350px;
    width: 650px;
    background-size: 660px;
}

.project2-image {
    background-image: url(../images/geometric\ design.png);
}

.project3-image {
    background-image: url(../images/rome\ colosseum.png);
}

.project4-image {
    background-image: url(../images/hot\ air\ balloons.png);
}

.project5-image {
    background-image: url(../images/sand\ dunes.png);
}

.project2-image, .project3-image, .project4-image, .project5-image {
height: 200px;
width: 450px;
background-size: 670px;
}

.project1-image, .project2-image, .project3-image, .project4-image, .project5-image {
    border:10px solid #303538;
    text-align: left;
    margin: 10px;
    padding: 10px 10px 10px 0px;
    display: inline-flex;
    align-content: end;
    flex-wrap: wrap;
}
#project1-text, #project2-text, #project3-text, #project4-text, #project5-text {
    text-align: left;
    background-color: #303538;
    padding: 5px 10px 5px 20px;
}

h6 {
    font-size: 15px; 
}

#contactmelist {
    font-size: 20px;
    list-style-type: none;
    text-decoration: underline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 95px;
}