header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #303538;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 {
    color: #f4f6f3;
    background-color: rgb(122, 188, 210)
}

nav {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

header ul {
    list-style-type:none;
}

header ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: rgb(122, 188, 210);
    text-decoration: none;
    text-decoration-line: underline;
    text-underline-position: below;
}

.hero {
    height: 180px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}